<?xml version='1.0' encoding='utf-8'?>
<widget id="com.linusanderas.radioapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RadioApp</name>
    <description>
        An app for a radiostation
    </description>
    <author email="linus@webresult.se" href="http://webresult.se">
        Webresult Developer team
    </author>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-transport-security" spec="~0.1.1" />
    <plugin name="cordova-plugin-file" spec="~3.0.0" />
    <plugin name="com.lampa.startapp" spec="~0.0.5" />
    <plugin name="cordova-plugin-media" spec="~1.0.1" />
    <plugin name="cordova-plugin-device" spec="~1.0.1" />
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/VersoSolutions/CordovaClipboard" />
    <plugin name="cordova-plugin-x-toast" spec="~2.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.0.1" />
    <plugin name="mx.ferreyra.callnumber" spec="https://github.com/Rohfosho/CordovaCallNumberPlugin.git" />
    <plugin name="de.appplant.cordova.plugin.email-composer" spec="~0.8.2" />
</widget>
